<h1><a href="/">YASURLS!</a></h1>
<hr />

<%= form_tag '/create' do -%>

<label for="">Shorten URL!</label>
<br/>
<input tabindex="1" name="shorten[url]" id="shortenurl" type="text" name="g" value="" size="100"/>

<input type="submit" id="shorteninput" name="shorten[input]" value="Shorten" />

<% end %>

